header {
    background: #2F3645;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

nav .logo {
    font-size: 25px;
    color: #FEFAE0;
    font-family: 'Times New Roman', Times, serif;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 3rem;
}

nav ul li a {
    color: #f2f4f8;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FEFAE0;
}
